@model CaseExsitec.Models.Produkter

@{
    ViewData["Title"] = "Details";
}

<h1>Produkter</h1>

<div>
    <h4>Detaljer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produktnr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produktnr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pris)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pris)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Rediger</a> |
    <a asp-action="Index">Tilbake</a>
</div>
