@model CaseExsitec.Models.InnOgUtleveranse

@{
    ViewData["Title"] = "Delete";
}

<h1>Slett</h1>

<h3>Er du sikker på at du vil slette dette?</h3>
<div>
    <h4>InnOgUtleveranse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TilFra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TilFra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InngåendeLagersaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InngåendeLagersaldo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Slett" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbake</a>
    </form>
</div>
