@model IEnumerable<CaseExsitec.Models.InnOgUtleveranse>


@{
    int getLagerSaldo(string x, string y){
        int result = 0;
        foreach (var item in Model)
        {

            if (item.Produkt == x && item.TilFra == y)
            {

                result = result + item.Antall;
            }


        }
        return result;
    }
    }

    <h1 style="text-align: center;">Lagersaldo</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Sted
            </th>
            <th>
                Lagersaldo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            string[,] steder = {{ "jTelefon", "jPlatta", "Päronklocka" }, { "Cupertino", "Norrköping", "Frankurt" } };
            for (int i = 0; i < steder.GetLength(1); i++)
            {
                
        <tr>
            <td>
                @steder[0, i]
            </td>
            <td>
                @steder[1, 0]
            </td>
            <td>
               @getLagerSaldo(steder[0,i], steder[1,0])
            </td>

        </tr>
            <tr>
            <td>
                @steder[0, i]
            </td>
            <td>
                @steder[1, 1]
            </td>
            <td>
               @getLagerSaldo(steder[0,i], steder[1,1])
            </td>
        </tr>
        
        
        <tr>
            <td>
                @steder[0, i]
            </td>
            <td>
                @steder[1, 2]
            </td>
            <td>
               @getLagerSaldo(steder[0,i], steder[1,2])
            </td>
        </tr>
        
    }
}

    </tbody>
</table>

