@model IEnumerable<CaseExsitec.Models.InnOgUtleveranse>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produkt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TilFra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InngåendeLagersaldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produkt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TilFra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InngåendeLagersaldo)
            </td>

        </tr>
}
    </tbody>
</table>
