@model IEnumerable<CaseExsitec.Models.LagersaldoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lagersaldo</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produkt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Varelager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lagersaldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produkt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Varelager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lagersaldo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
