@model IEnumerable<CaseExsitec.Models.Varelagre>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center;">Varelagre</h1>

<p style="text-align: center;">
    <a asp-action="Create">Legg til ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lagernr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lagernr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button class="button-1">Rediger</button></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><button class="button-1">Detaljer</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="button-1">Slett</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
